 body{
    background-color: #1f1d1d;
}

.comment-card {
    width: 30%;
    min-width: 600px;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 10px rgba(95, 95, 95, 0.3);
    margin-bottom: 10px;
    border-radius: 10px;
    word-wrap: break-word;
    background-color: #222222;
  }
  
  .top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .name {
    margin: 0;
    color: #fff;
  }
  
  .mark {
    background-color: #0099ff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .comments-list {
    text-align: center;
    list-style: none;
    padding: 0;
  }
  
  .comment {
    margin: 0;
    color: #fff;
  }
  
  .comments-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .comment-input-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .comment-input,
  .mark-input {
    background-color: #333333;
    margin-right: 10px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
  }
  
  .submit-button {
    padding: 5px 10px;
    background-color: #0099ff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #0077cc;
  }
  
  .film-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: #1f1d1d;

    border-radius: 10px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }
  
  .film-container > div:first-child {
    flex-basis: 30%;
    margin-right: 2rem;
  }
  
  .film-container > div:last-child {
    flex-basis: 70%;
  }
  
  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
.comment-h{
  color: white;
}

  .video-player {
    display: flex;
    width: 100%;
    height: 400px;
    border: none;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .video-player video {
    width: 40%;
    /* object-fit: cover; */
  }

  .just-div{
    height: 100%;
    width: 60%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    background-color: #333333;
  }
  .film-info-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  
  .film-info-upper {
    margin-right: 20px;
  }
  
  .film-info-name {
    margin: 0;
    font-size: 24px;
    color: #fff;
  }
  
  .film-info-poster-container {
    display: flex;
    margin-right: 20px;
    width: 650px;
    justify-content: space-around;
  }
  
  .film-info-poster {
    width: 220px;
    height: auto;
    align-self: flex-start;
    border-radius: 10px;
    /* border: 2px solid blue; */

  }
  
  .film-info-lower {
    flex-grow: 1;
    width: 80%;
    justify-content: center;
    /* border: 2px solid blue; */

  }
  
  .film-info-description {
    margin: 0;
    width: 700px;
    font-size: 16px;
    color: #fff;
  }
  
  .film-info-restriction {
    margin: 0;
    font-size: 16px;
    color: #999999;
  }

  .trailer-film-selector{
    background-color: #8d8b8b;
    border-radius: 20px;
  }

  .film-crew-info {
    max-width: 300px;

    color: white;
    word-wrap: normal;
  }
  
  .director {
    font-weight: bold;
   
  }
  
  .screenwriters {
    
    text-decoration: none;
  }
  
  .actors {
    font-style: italic;
  }
  
  a{
    color: white;
    text-decoration: none;
  }